{% extends 'base.html.twig' %}

{% block title %} - log in{% endblock %}

{% block body %}
    <form method="post" class="ui form{% if error %} error{% endif %}{% if app.user %} warning{% endif %}">
        <h1>Please sign in</h1>
        {% if error %}
            <div class="ui error message">
                <div class="header">Nope</div>
                <p>{{ error.messageKey|trans(error.messageData, 'security') }}</p>
            </div>
        {% endif %}

        {% if app.user %}
            <div class="ui warning message">
                <div class="header">Already logged in!</div>
                <ul class="list">
                    <li> You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>.
                    </li>
                </ul>
            </div>
        {% endif %}
        <div class="field">
            <label for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" placeholder="Email" required
                   autofocus>
        </div>

        <div class="field">
            <label for="inputPassword">Password</label>
            <input type="password" name="password" id="inputPassword" placeholder="Password" required>
        </div>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <div class="two fields">
            <div class="field">
                <div class="ui toggle checkbox">
                    <input type="checkbox" name="_remember_me">
                    <label for="_remember_me"> Remember me </label>
                </div>
            </div>

            <div class="field">
                <button class="ui primary button right floated" type="submit">
                    Sign in
                </button>
            </div>
        </div>


    </form>
{% endblock %}
