{{ form_start(form, {'attr': {'class': 'ui form', 'id': 'theform'}}) }}

<div class="field">
    {{ form_label(form.feedUrl) }}
    {{ form_widget(form.feedUrl) }}
    {% if form_errors(form.feedUrl) %}
        <div class="ui error message">
            <div class="header">{{ form_errors(form.feedUrl) }}</div>
        </div>
    {% endif %}
</div>

<div class="actions">
    <button class="ui left floated positive right labeled icon button">
        {{ button_label|default('Save') }}
        <i class="checkmark icon"></i>
    </button>
</div>


<script type="text/javascript">
  const form = $('form#theform')

  // this is the id of the form
  form.submit(function (e) {
    e.preventDefault()

    const form = $(this)

    form.addClass('loading')

    $.ajax({
      type: 'POST',
      url: form.attr('action'),
      data: form.serialize(),
      success: function (data) {
        parent.location.href=parent.location.href
      }
    })
  })
</script>

{{ form_end(form) }}
