{% extends 'base.html.twig' %}

{% block title %}Feed index{% endblock %}

{% block body %}
    <h1>Feed index</h1>

    <table class="table ui">
        <thead>
            <tr>
                <th>Id</th>
                <th>FeedUrl</th>
                <th>Title</th>
                <th>Description</th>
                <th>Last modified</th>
                <th>Icon</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for feed in feeds %}
            <tr>
                <td>{{ feed.id }}</td>
                <td><a href="{{ feed.feedUrl }}">{{ feed.feedUrl }}</a></td>
                <td>{{ feed.title }}</td>
                <td>{{ feed.description|truncate(20) }}</td>
                <td>{{ feed.lastModified|date("d-m-Y H:i \T") }}</td>
                <td>
                    {% if feed.icon %}
                        <img src="{{ feed.icon }}" height="48" width="48"/>
                    {% endif %}
                </td>
                <td style="width: 20em">
                    <button class="ui right labeled icon button">
                        <i class="rss icon"></i>
                        <a href="{{ path('feed_display', {'id': feed.id}) }}">RSS</a>
                    </button>
                    <button class="ui right labeled icon button">
                        <i class="edit icon"></i>
                        <a href="{{ path('feed_edit', {'id': feed.id}) }}">edit</a>
                    </button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('feed_new') }}" class="ui primary button">Create new</a>
{% endblock %}
