{% extends 'feed/feeds_base.html.twig' %}

{% block title %}Feed index{% endblock %}

{% block body %}
    <h1>Your feeds</h1>

    <table class="table ui">
        <thead>
        <tr>
            <th style="width:2em">Id</th>
            <th>FeedUrl</th>
            <th>Title</th>
            <th>Description</th>
            <th style="width: 12em">Last modified</th>
            <th style="width: 4.5em">Icon</th>
            <th style="width: 18em">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for feed in feeds %}
            <tr>
                <td>{{ feed.id }}</td>
                <td><a href="{{ feed.feedUrl }}">{{ feed.feedUrl }}</a></td>
                <td>{{ feed.title }}</td>
                <td>{{ feed.description|truncate(50) }}</td>
                <td>{{ feed.lastModified|date("d-m-Y H:i \T") }}</td>
                <td>
                    {% if feed.icon %}
                        <img src="{{ feed.icon }}" height="48" width="48"/>
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('feed_display', {'id': feed.id}) }}">
                        <button class="ui right labeled icon orange button">
                            <i class="rss icon"></i>
                            RSS
                        </button>
                    </a>
                    <a href="{{ path('feed_edit', {'id': feed.id}) }}">
                        <button class="ui right labeled icon button">
                            <i class="edit icon"></i>
                            Edit
                        </button>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('feed_new') }}">
        <button class="ui right labeled icon primary button">
            <i class="plus icon"></i>
            Add new feed
        </button>
    </a>

    <a href="{{ path('opml_display', {'userId': user.getId(), 'token': user.getOpmlToken()}) }}" target="_blank">
        <button class="ui right labeled icon green button">
            <i class="right arrow rss icon"></i>
            Export to OPML
        </button>
    </a>
{% endblock %}
