{% extends 'base.html.twig' %}

{% block title %}Feed{% endblock %}

{% block body %}
    <h1>Feed</h1>

    <table class="table ui">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ feed.id }}</td>
            </tr>
            <tr>
                <th>FeedUrl</th>
                <td>{{ feed.feedUrl }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ feed.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ feed.description }}</td>
            </tr>
            <tr>
                <th>Icon</th>
                <td>{{ feed.icon }}</td>
            </tr>
        </tbody>
    </table>

    <button class="ui labeled icon button">
        <i class="left arrow icon"></i>
        <a href="{{ path('feed_index') }}">Back to list</a>
    </button>

    <button class="ui right labeled green icon button">
        <i class="edit icon primary"></i>
        <a href="{{ path('feed_edit', {'id': feed.id}) }}">Edit</a>
    </button>

    {{ include('feed/_delete_form.html.twig') }}
{% endblock %}
