{{ form_start(form, {'attr': {'class': 'ui form'}}) }}
    {{ form_widget(form) }}

<div class="ui grid">
    <div class="row">
        {{ form_widget(form) }}
    </div>
    <div class="two column row">
        <div class="left floated column">
            <a href="{{ path('feed_index') }}">
                <button class="ui labeled icon button">
                    <i class="left arrow icon"></i>
                    Back to list
                </button>
            </a>
        </div>

        <div class="right floated column right aligned">
            <button class="btn ui primary button">{{ button_label|default('Save') }}</button>
        </div>
    </div>
</div>


{{ form_end(form) }}
